body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: Roboto;
    background-color: rgb(155, 103, 39);
    background-color: rgb(124, 168, 206);
    display: flex;
    justify-content: center;
}

.item {
    min-width: 300px;
    min-height: 400px;
    margin-bottom: 10px;
    padding: 5px;




}


.item-image {
    width: 200px;
    /* Ширина зображення */
    height: auto;
    /* Автоматичне коригування висоти для збереження пропорцій */
}

.link-box {
    border: 2px solid rgb(7, 192, 100);
    /* Синя рамка */
    padding: 5px;
    /* Внутрішній відступ */
    display: inline-block;
    /* Щоб рамка обертала текст */
    text-decoration: none;
    /* Прибрати стандартне підкреслення посилання */
    color: inherit;
    /* Зберегти колір тексту */
    border-radius: 10px;
    background-color: rgb(83, 9, 153);
}

.link-box:hover {
    background-color: rgb(43, 170, 212);
    /* Додати фон при наведенні */
}